In [1]:
import pandas as pd

# Needs to learn again:
1. pd.rename (How to rename columns?): [https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html]
2. How to combine dataframe in simple?

# Merge, join, concatenate and compare

1. `concat()`: Merge multiple Series or DataFrame objects along a shared index or column.
2. `DataFrame.join()`: Merge multiple DataFrame objects along the columns.
3. `DataFrame.combine_first()`: Update missing values with non-missing values in the same location.
4. `merge()`: Combine two Series or DataFrame objects with SQL-style joining.
5. `merge_ordered()`: Combine two Series or DataFrame objects along an ordered axis.
6. `merge_asof()`: Combine two Series or DataFrame objects by near instead of exact matching keys.
7. `Series.compare()` and `DataFrame.compare()`: Show differences in values between two Series or DataFrame objects.

<h1 align='center'> Dataframe Merge and Join</h1>

### 1. pandas.DataFrame.join
```Python
DataFrame.join(other, on=None, how='left', lsuffix='', rsuffix='', sort=False, validate=None)
```

##### Type of merge or join to be performed. (how) default: inner

1. `left`: use only keys from left frame, similar to a SQL left outer join; preserve key order.
2. `right`: use only keys from right frame, similar to a SQL right outer join; preserve key order.
3. `outer`: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically.
4. `inner`: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys.
5. `cross`: creates the cartesian product from both frames, preserves the order of the left keys.

### `validatestr, optional`

If specified, checks if merge is of specified type.

- **"one_to_one" or "1:1"**: Check if merge keys are unique in both left and right datasets.

- **"one_to_many" or "1:m"**: Check if merge keys are unique in the left dataset.

- **"many_to_one" or "m:1"**: Check if merge keys are unique in the right dataset.

- **"many_to_many" or "m:m"**: Allowed, but does not result in checks.

### 2. pandas.DataFrame.merge
```Python
DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=None, indicator=False, validate=None)
```

----

In the course, I'll be using tables and dataframe as synonomous and merging as joining. Talking about joins, there are five joins in Pandas and those are:

1. Inner Join
2. Left Outer join
3. Right Outer join
4. Outer Join or Full outer join
5. Index Join

In pandas, to perform various types of joins between DataFrames, you typically use the merge() function. The merge() function supports several types of joins including inner join, left join, right join, and outer join. Here's a brief overview of each:

1. **Inner Join (`inner`)**: Retains only the rows where the merge key exists in both DataFrames.
   
   ```python
   inner_join_df = pd.merge(df1, df2, on='key', how='inner')
   ```

2. **Left Join (`left`)**: Retains all rows from the left DataFrame and includes matching rows from the right DataFrame.

   ```python
   left_join_df = pd.merge(df1, df2, on='key', how='left')
   ```

3. **Right Join (`right`)**: Retains all rows from the right DataFrame and includes matching rows from the left DataFrame.
   
   ```python
   right_join_df = pd.merge(df1, df2, on='key', how='right')
   ```

4. **Outer Join (`outer`)**: Retains all rows from both DataFrames and fills in missing values with NaNs where data is not present.
   
   ```python
   outer_join_df = pd.merge(df1, df2, on='key', how='outer')
   ```

<h1 align='center'>Different Between Merge and Joins in Pandas</h1>

1. join has limited feature while merge has many other feature
2. Both join and merge can be used to combines two dataframes but the join method combines two dataframes on the basis of their indexes whereas the merge method is more versatile and allows us to specify columns beside the index to join on for both dataframes.

---

In [13]:
df1 = pd.DataFrame(data=[1,2,3,4,5,6,7,8,9,10],columns=['c1'])
df2 = 10*df1

In [26]:
df2.rename(columns={'c1':'c2'},inplace= True)

In [27]:
df2

    c2
0   10
1   20
2   30
3   40
4   50
5   60
6   70
7   80
8   90
9  100

#### Let's do operations

In [31]:
df1 df2 # I can't about see properly

(   c1
 0   1
 1   2
 2   3
 3   4
 4   5
 5   6
 6   7
 7   8
 8   9
 9  10,
     c2
 0   10
 1   20
 2   30
 3   40
 4   50
 5   60
 6   70
 7   80
 8   90
 9  100)


```Python
pd.concat(df1,df2) # This shows as we need to give []
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
Cell In[33], line 1
----> 1 pd.concat(df1,1)

TypeError: concat() takes 1 positional argument but 2 were given
```

In [34]:
pd.concat([df1,df2]) # Look what happens when we concat

     c1     c2
0   1.0    NaN
1   2.0    NaN
2   3.0    NaN
3   4.0    NaN
4   5.0    NaN
5   6.0    NaN
6   7.0    NaN
7   8.0    NaN
8   9.0    NaN
9  10.0    NaN
0   NaN   10.0
1   NaN   20.0
2   NaN   30.0
3   NaN   40.0
4   NaN   50.0
5   NaN   60.0
6   NaN   70.0
7   NaN   80.0
8   NaN   90.0
9   NaN  100.0

# Merge

In [43]:
pd.merge(df1,df2,left_on='c1',right_on='c2')

   c1  c2
0  10  10

In [51]:
df1.merge(df2, left_on='c1', right_on='c2', left_index=True)

MergeError: Can only pass argument "left_on" OR "left_index" not both.

# Join

In [56]:
df1.join(df2)

   c1   c2
0   1   10
1   2   20
2   3   30
3   4   40
4   5   50
5   6   60
6   7   70
7   8   80
8   9   90
9  10  100

In [52]:
df2.join(df1)

    c2  c1
0   10   1
1   20   2
2   30   3
3   40   4
4   50   5
5   60   6
6   70   7
7   80   8
8   90   9
9  100  10

# Merge